:root{
    --bs-primary:#C78C06;
    --bs-primary-rgb:199,148,6;
    --bs-secondary:#FFE6AC;
    --bs-secondart-rgb: 255, 230, 172;
    --bs-dark: #222;
    --bs-dark-rgb: 34, 34, 34;
    --bs-blue: #C78C06;
}